@import "~bulmaswatch/lux/_variables.scss";
@import "~bulma/bulma.sass";
@import "~bulmaswatch/lux/_overrides.scss";

.has-text-caution {
  color: orange;
}

.container.is-small {
  max-width: 48em;
}
